@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);
@import url(./__descritpion/cards__description.css);

.cards {
  max-width: 920px;
  /* display: flex;
  flex-wrap: wrap; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 100px 1fr 100px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 100px;
  -moz-column-gap: 100px;
  column-gap: 100px;
  margin: 0 auto;
}
