.feinman__link {
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  color: #000;
  position: absolute;
  top: 50%;
  right: 48px;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.feinman__link:hover {
opacity: .4;
}
