@import url(./__title/feinman__title.css);
@import url(./__subtitle/feinman__subtitle.css);
@import url(./__link/feinman__link.css);

.feinman {
  position: relative;
  height: 790px;
  background-size: 867px 637px;
  background: #F2F2F2 url(../../images/feinman.png) no-repeat bottom left;
}
