.page /* стиль родительского класса страницы */{
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header /* стиль верхнего колонтитула */ {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2; 
    display: flex;
    position: relative; /*иначе не будет работать absolute в лого */
    align-items: center; /*выравнивает заголовок по центру контейнера */
}

.logo {
    width: 183px;
    height: 32px;
    background: center cover; 
}

.logo_place_header  {
    position: absolute;
    top: 30px;
    left: 64px;
    background: url(../images/logo.svg);
    alt: "logo";
    z-index: 5;
}

.header__title {
    display: flex;
    width: 730px;
    padding-left: 64px;
    font: 102px bold;
    line-height: 96px;
    z-index: 4;
}

.header__subtitle {
    width: 388px;
    position: absolute;
    left: 64px;
    bottom: 30px;
    font: 18px normal;
    line-height: 25px;
    z-index: 3;
}

.header__link {
    text-decoration: none;
    color: #2F80ED;
    z-index: 3;
}

.header__main-illustration /* стиль для главной картинки верхнего колонтитула */ {
    width: 765px;
    height: 608px;
    position: absolute;
    background-image: url(../images/two_again.png);
    alt: "опять двойка";
    background-size: cover;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.header__square-pic /* стиль для синего квадрата верхнего колонтитула */ {
    width: 568px;
    height: 568px;
    background-color: #2F80ED;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 1;
}

.description {
    margin-top: 100px;
}

.two-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.two-columns__brief {
    max-width: 175px;
    line-height: 1.2;
    font: 18px normal;
    color: #2F80ED;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph {
    line-height: 34px;
    font: 24px normal;
    margin: 30px 0 0;
}

.two-columns__span-accent {
    font-weight: 700px;
}

.digits {
    margin-top: 100px;
}

.section-title {
    line-height: 69px;
    font: 60px bold;
    text-align: center;
    margin: 0;
}

.section-subtitle {
    line-height: 34px;
    font: 24px normal;
    text-align: center;
    margin: 20px 0 0; /* внешний отступ от верхнего контейнера 20px */
    padding: 0 20%; /* width: 60% */
}

.table {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* перенос в ряд слева направо */
    justify-content: space-between; /* равномерное расположение от начальной до конечной линии контейнера */
    align-content: space-between; /* равномерное для многострочности */
}

.table__cell {
    margin-top: 60px;
    width: 250px;
}

.table__heading {
    line-height: 1.2;
    font: 24px bold;
    margin: 0; /* убираем родительские отступы */
}

.table__text {
    line-height: 1.2;
    font: 18px normal;
    margin: 20px 0 0;
}

.feinman {
    margin-top: 100px;
    height: 790px;
    background-size: 867px 637px;
    background: #F2F2F2 url(../images/feinman.png) no-repeat bottom left; /*фон серый без повторений расположение снизу слева */
    alt: "фейнман"
    position: relative;
}

.feinman__title {
    line-height: 1.15;
    font: 120px bold;
    max-width: 648px;
    text-align: center;
    padding: 100px 0 0;
    margin: 0 auto;
}

.feinman__subtitle {
    line-height: 51px;
    font: 36px normal;
    text-align: center;
    margin: 70px 0 0;
}

.feinman__link {
    text-decoration: none;
    line-height: 51px;
    font: 36px normal;
    color: #000;
    position: absolute;
    top: 50%;
    right: 48px;
}

.kaufman {
    position: relative;
}